aiohttp==3.11.18
azure-ai-inference==1.0.0b9
backports.tarfile==1.2.0
cffi==1.17.1
dotenv==0.9.9
google-api-python-client==2.169.0
google-auth-oauthlib==1.2.2
importlib-metadata==8.0.0
jaraco.collections==5.1.0
openai==1.79.0
opencv-python==4.11.0.86
openpyxl==3.1.5
pandas==2.2.3
pip-chill==1.0.3
pip-tools==7.4.1
psutil==7.0.0
pydantic-settings==2.9.1
pytesseract==0.3.13
quart==0.20.0
hypercorn==0.17.3
redis==6.1.0
ruamel.yaml.clib==0.2.12
ruamel.yaml==0.18.10
sqlalchemy==2.0.41
tiktoken==0.9.0
tomli==2.0.1
